/*

#EFB470 tan
#E33738 strawberries
#FEF9FF white
#FF7778 light pink
#BB0E10 Dark red
change links to random pop out color
change text to black


*/

body {
	font-family: "Nunito", sans-serif;
	color: #232323;
	background: #FEF9FF;
	background-image: url('../img/white_wall_hash.png');
	background-repeat: repeat;

}

a{
	color: #07a4d1;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #E33738;
}

.container {
	position: relative;
}

.header {
	margin: auto;
	width: 100%;
	height: 250px;


}

.header #piglogo {
	margin: auto;
	height: 250px;
}


.header .title {
	width: 100%;
	text-align: center;
	padding: 5px;
	

}

.header .title a {
	color: #FF7778; 
	margin: auto;
	font-size: 3.0em;
}

.btn {
	color: #FEF9FF;
	background: #FF7778  url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;

}	

.btn:hover {
	background: #BB0E10; 
}


.nav {
	padding: 0px;
	background: #FF7778 url('../img/textured_stripes_red.png') repeat;
	text-align: center;
	border-bottom: solid 5px #FF7778; 
	margin: 0;
	
}

.nav ul {
		list-style: none;
}

.nav ul li {
	display: inline;
	margin: 30px;

}

.nav ul li a {
	color: white;
	font-size: 1.2em;
}

.featured_trip {
	
	padding: none;
	border: none;
	margin: 0px;
}

.left_side_pic {
	width: 406px;
	height: 300px;
	margin: 0 -4px 0 0;
	border: none;
	padding: none;
}

.right_side_pic {
	width: 406px;
	height: 300px;
	margin: 0 0px 0 -4px;
	border: none;
	padding: none;
}

.featured_trip .middle_pic {
	margin: none;
	padding: none;
	width: 178px;
	height: 300px;
	border-left: solid 5px #FF7778; 
	border-right: solid 5px #FF7778; 
}


.featured_trip_description {
	margin: none;
	height: 70px;
	text-align: center;
	background-color: blue;
}

.middle_section {
	margin: 20px 0;
	position: relative;
	width: 100%;
	height: 152.5px;
	border-top: solid 15px #FF7778;
	border-bottom: solid 15px #FF7778;
}

#pig_world {
	position: absolute;
	left: 387.5px;
	height: 225px;
	z-index: 100;
	margin-top: -35px;

}

.Fri_Photos {
	height: 200px;

}

.photo_sections {
	width:150px;
}

/*

#intro {
	margin: 50px 0px 0px 0;

}

#new-places img {
	border: 8px solid #FF7778;
	margin: 0 0 20px 0;

}

#new-places .small-pic {
	height:160px;
	width: 385px;

}

#featured-photo img {
		border: 8px solid #FF7778;
}

#featured-photo #feature-pic {
		height:360px;
		width: 555px;
}
*/
#copyright{
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
 }
