/*

#EFB470 tan
#E33738 strawberries
#FEF9FF white
#FF7778 light pink
#BB0E10 Dark red


*/

body {
	font-family: "Nunito", sans-serif;
	color: #E33738;
	background: #EFB470  url('img/bg-textture.jpg') repeat;

}

a{
	color: #BB0E10;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #E33738;
}

.btn {
	color: #FEF9FF;
	background: #FF7778  url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;

}	

.btn:hover {
	background: #4CC4A7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;

}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #CC2921;
}

#intro {
	margin: 50px 0 y0px 0;

}

#new-places img {
	border: 8px solid #FF7778;
	margin: 0 0 20px 0;

}

#new-places .small-pic {
	height:160px;
	width: 385px;

}

#featured-photo img {
		border: 8px solid #FF7778;
}

#featured-photo #feature-pic {
		height:360px;
		width: 555px;
}

#copyright{
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
 }
