/*

#EFB470 tan
#E33738 strawberries
#FEF9FF white
#FF7778 light pink
#BB0E10 Dark red
change links to random pop out color
change text to black


*/

body {
	font-family: "Carme", sans-serif;
	color: #404040;
	background: #FEF9FF;
	background-image: url('../img/white_wall_hash.png');
	background-repeat: repeat;

}

a{
	color: #07a4d1;
	text-decoration: none;
}

a:hover {
	color: #02313f;
}

h1 {
	font-family: "Acme",sans-serif;
	font-size: 1.250em;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #E33738;
	margin: 10px 0;
}

h2 {
	font-family: "Acme", sans-serif;
	font-size: 1.600em;
	color: #404040;
}

h3 {
	font-family: "Acme", sans-serif;
	font-size: 1.00em;
	color: #404040;
	text-transform: uppercase;
	letter-spacing: -1px;
}

h4 {
	margin: 10px 0;
}


h5 {
	font-family: "Acme", sans-serif;
	font-size: 2.0em;
	color: #404040;
	letter-spacing: -1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.header {
	margin: auto;
	width: 100%;
	height: 250px;
}

.header #piglogo {
	margin: auto;
	height: 250px;
}

.header .title {
	width: 100%;
	text-align: center;
	padding: 5px;
}


.header .title a {
	color: #FF7778; 
	margin: auto;
	font-size: 3.0em;

}

.nav {
	padding: 0px;
	background: #FF7778 url('../img/textured_stripes_red.png') repeat;
	text-align: center;
	border-bottom: solid 5px #FF7778; 
	margin: 0;
}

.nav ul {
		list-style: none;
}

.nav ul li {
	display: inline;
	margin: 30px
}

.nav ul li a {
	color: white;
	font-size: 1.2em;
	font-family: "acme",sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.nav ul li a:hover {
	color: #BB0E10;
}

.featured_trip {	
	padding: none;
	border: none;
	margin: 0px;
}

.left_side_pic {
	width: 406px;
	height: 300px;
	margin: 0 -4px 0 0;
	border: none;
	padding: none;
}

.right_side_pic {
	width: 406px;
	height: 300px;
	margin: 0 0px 0 -4px;
	border: none;
	padding: none;
}

.featured_trip .middle_pic {
	margin: none;
	padding: none;
	width: 178px;
	height: 300px;
	border-left: solid 5px #FF7778; 
	border-right: solid 5px #FF7778; 
}

.featured_div h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}


.middle_section {
	margin: 5px 0 20px 0;
	position: relative;
	width: 100%;
	height: 152.5px;
	border-top: solid 15px #FF7778;
	border-bottom: solid 15px #FF7778;
}

.feature {
  width: 100%;
  height: 110px;
  text-align: center; 
}

.feature_title {
	padding-left:20px;
	padding-bottom: 5px;
	font-size: 1.4em;
	text-align: center;
}

.featured_destination {
	width: 385px;
	display: inline-block;
	margin: 0 -4px 0 0;
	padding-left: 5px;
}

.featured_friends {
	width: 385px;
	display: inline-block;
	margin: 0 0px 0 -4px;
}

.world_logo {
	width: 230px;
	display: inline-block;
	position: relative;
	height: 146px;
	margin: 0 -3px 0 -3px;
}


.feature_img {
  display:inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 5px;
}

.feature_description {
  display: inline-block;
  width: 165px;
  text-align: left;
  margin-right: 5px;
  float: right;
  padding-left: 65px;
  padding-top:25px;
  padding-bottom:25px;  
}

.featured_trip_description {
	margin: none;
	height: 70px;
	text-align: center;
}


.featured_description {
	margin: none;
	padding-left:15px;
}

#pig_world {
	height: 225px;
	position: absolute;
	top: -44px;

}

.featured_image {

	height:100px;
	padding-bottom: 10px;
}

.featured_friends {
	padding: 2px 0;
}

.featured_image_div {
	display:inline-block;
}

.featured_description_div {
	display: inline-block;
}

.featured_description_div h4 {
	display: block;
}



.friends_photos h3{
	font-size: 1.4em;
	margin-top: 14px;
	margin-bottom: 10px;
}

.friends_photos p {
	margin: 10px 0px 16px 0px;
}


.Fri_Photos {
	width: 490px;
	float: left;

}


.Friend_photos{
	width: 490px;
	float: right;
}

.photo_sections {
	
}

.blog_photo {
	height:100px;
}

footer {
		background: #FF7778 url('../img/textured_stripes_red.png') repeat;
		width: 100%;
		height: 385px;
}


footer h2 {
	color: white;
	text-shadow:1px 1px 2px #BB0e10;
}

footer p {
	color: black;
	font-weight: bold;
}


.footer_wrapper {
	margin: auto;
}


.history {
	margin-top: 40px;
	padding: 20px;
	background: #FF7778 url('../img/textured_stripes_pink.png') repeat;
	box-shadow: 1px 1px 10px #BB0E10;
	border-radius: 40px;
}

.social {
	height:60px;
	padding: 30px 0;
	text-align: center;
}

#facebook {
	display: inline-block;
	margin: 20px;
}

#twitter {
	display: inline-block;
	margin: 20px;
}

.Dev {
	height: 200px;
	text-align: center;
}

.copyright {
	padding-top: 10px;
	text-align: center;
}
/*

#intro {
	margin: 50px 0px 0px 0;

}

#new-places img {
	border: 8px solid #FF7778;
	margin: 0 0 20px 0;

}

#new-places .small-pic {
	height:160px;
	width: 385px;

}

#featured-photo img {
		border: 8px solid #FF7778;
}

#featured-photo #feature-pic {
		height:360px;
		width: 555px;
}
*/
#copyright{
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
 }
